params {
    input_csv = null
    raw_libraries = [:]
    global_libraries = [:]
    conda_envs = [mapping: null, lr_assm: null, sr_assm: null]
    outdir = 'results'
    pbs_queue = null
    pbs_project = null
}

process {
    shell = ['/bin/bash', '-euo', 'pipefail']

    withLabel: mapping {
        conda = "${projectDir}/envs/mapping.yaml"
    }
    withLabel: lr_assm {
        conda = "${projectDir}/envs/lr-env.yaml"
    }
    withLabel: sr_assm {
        conda = "${projectDir}/envs/sr-env.yaml"
    }

    withName: CONCAT_REFERENCE {
        cpus = 1
        memory = 2.GB
        time = 1.h
    }
    withName: MINIMAP2_MAP {
        cpus = 12
        memory = 96.GB
        time = 12.h
    }
    withName: MERGE_LONG_BAMS {
        cpus = 8
        memory = 16.GB
        time = 6.h
    }
    withName: BOWTIE2_BUILD {
        cpus = 4
        memory = 8.GB
        time = 2.h
    }
    withName: BOWTIE2_MAP {
        cpus = 12
        memory = 96.GB
        time = 12.h
    }
    withName: MERGE_SHORT_BAMS {
        cpus = 8
        memory = 16.GB
        time = 6.h
    }
    withName: FLYE_META_ASSEMBLY {
        cpus = 12
        memory = 128.GB
        time = 12.h
    }
    withName: MYLOASM_ASSEMBLY {
        cpus = 12
        memory = 128.GB
        time = 12.h
    }
    withLabel: sr_assm {
        cpus = 12
        memory = 120.GB
        time = 12.h
    }
}

manifest {
    nextflowVersion = '>=24.04.0'
}
